trendyL = {
	bg: #eeeeec,
	fg: #34495e,
	fgH: #2ecc71,
	hover: @() {
		background-color: lighten(trendyL.bg, 4)
	},
	active: @(){
		box-shadow: inset 0 2px 3px darken(trendyL.bg, 15)
	},
	focus: @(){
		color: trendyL.fgH
		border-color: trendyL.fgH
	},
	disable: @(){
		background-color: darken(trendyL.bg, 8)
	}
}
