html
	head
		link(rel='stylesheet', href='../lib/index.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
		style.
			@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:700);
			button {
				width: 135px !important;
			}
	body
		.gray
			button.green
				i.fa.fa-thumbs-up
				= ' Upvote'
			button.red
				i.fa.fa-thumbs-down
				= ' Downvote'
			button.blue
				i.fa.fa-send
				= ' Submit'
			button.plain
				i.fa.fa-info-circle
				= ' Info'
		.contrast
			button
				i.fa.fa-thumbs-up
				= ' Upvote'
			button
				i.fa.fa-thumbs-down
				= ' Downvote'
			button
				i.fa.fa-send
				= ' Submit'
			button
				i.fa.fa-info-circle
				= ' Info'
		.xcontrast
			button
				i.fa.fa-thumbs-up
				= ' Upvote'
			button
				i.fa.fa-thumbs-down
				= ' Downvote'
			button
				i.fa.fa-send
				= ' Submit'
			button
				i.fa.fa-info-circle
				= ' Info'
