@require '../node_modules/normalize.css/normalize.css'
@import 'nib'

*:not(i)
	font bold 14px 'Source Code Pro'

button
	margin-left 2px
	margin-right 2px
	padding 5px 8px 6px
	outline none

textglow(sh)
	text-shadow 0 0 2px sh
	icon-shadow 0 0 2px sh

anitime(time)
	transition all time cubic-bezier(0.25, 0.46, 0.45, 0.94)

button(bg, fg, extra, hover, active, focus, disable)
	padding 50px
	background-color bg
	button
		background-color lighten(bg, 2)
		color fg
		anitime(100ms)
		extra()
		&:hover:not(:disabled)
			hover()
		&:active
			active()
		&:focus
			focus()
		&:disabled
			disable()

@import './trendy/light'
@import './trendy/dark'
@import './cathode/dark'
